{% extends "base.html" %}

{% block content %}
  <!--Main layout-->
  
    <div class="container">

      <div class="row mx-auto">
        <div class="col-md-12 mb-4 text-center wow fadeIn">
          {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
          {% comment %} <h3 class="display-3 font-weight-bold mb-0 pt-md-5 pt-5">Log in</h3> {% endcomment %}
          <div class="d-flex mb-3 justify-content-center">
            <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            {% comment %} <h5>Workplace form </h6> {% endcomment %}
                            <form method="POST">
                                {% csrf_token %}
                             <p class="h4 text-center py-4">Log In</p>
                                {% for field in form %}
                                 
                                 <div class="fieldWrapper">
                                  

                                    <div class="form-group">
                                   
                                    <label>{{ field.label_tag }}</label>
                                    {{ field }}
                                        {{ field.errors }}
                                        </div>
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                     </div> 
                                {% endfor %}
                                <button class="btn btn-primary" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
          </div>
        </div>
<!-- Material form login -->
      </div>

    </div>

  <!--Main layout-->


{% endblock %}